<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ExpendIT: внесение расхода</title>
</head>
<body>
<div th:insert="~{menubar :: copy}"></div>
<h1>Добавить факт расхода</h1>
<form action="#" th:action="@{/add/consume}" th:object="${result_dto}" method="post">
    <div>Модель расходника</div>
    <div>
        <select th:field="${result_dto.model_id}" id="model_dropdown" name="model_dropdown">
            <option th:each="model : ${models}"
                    th:value="${model.id}"
                    th:text="${model.id}+' : '+${model.name}+' ('+${model.count}+')'">
                Какой расходник?
            </option>
        </select>
    </div>
    <div>Кабинет, куда устанавливаем</div>
    <div>
        <select th:field="${result_dto.room_id}" id="room_dropdown" name="room_dropdown">
            <option th:each="room : ${rooms}"
                    th:value="${room.id}"
                    th:text="${room.id}+' : '+${room.name}">
            </option>
        </select>
    </div>
    <div>Сколько?</div>
    <div>
        <input type="text" name="count" th:field="${result_dto.count_to_install}"/>
    </div>
    <div><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></div>
</form>
<div th:insert="~{footer :: copy}"></div>
</body>
</html>