<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ExpendIT: Внесение прихода</title>
</head>
<body>
<div th:insert="~{menubar :: copy}"></div>
<h1>Добавить приход расходников на склады</h1>
<div>
    <form action="#" method="post" th:action="@{/add/incoming}" th:object="${income}">
        <div>Оригинальная модель расходника</div>
        <div>
            <select th:field="${income.modelId}" id="model_dropdown" name="model_dropdown">
                <option th:each="model : ${models}"
                        th:value="${model.id}"
                        th:text="${model.id}+' : '+${model.name}">
                    Какой расходник?
                </option>
            </select>
        </div>
        <div>Название</div>
        <div><input name="name" th:value="${income.name}" type="text"/></div>
        <div>Количество</div>
        <div><input name="incomeCount" th:value="${income.incomeCount}" type="text"/></div>
        <div>Цена</div>
        <div><input name="price" th:value="${income.price}" type="text"/></div>
        <div>Куда складируем</div>
        <div>
            <select id="room_dropdown" name="room_dropdown" th:field="${income.roomId}">
                <option th:each="room : ${rooms}"
                        th:text="${room.id}+' : '+${room.name}"
                        th:value="${room.id}">
                </option>
            </select>
        </div>
        <div>Контракт</div>
        <div><input name="contract" th:value="${income.contract}" type="text"/></div>

        <!--
        <tr th:each="entry : ${list}">
            <td th:text="${entry.modelName}"></td>
            <td><input name="name" th:value="${entry.name}" type="text"/></td>
            <td><input name="incomeCount" th:value="${entry.incomeCount}" type="text"/></td>
            <td><input name="price" th:value="${entry.price}" type="text"/></td>

            <td>

                <select id="room_dropdown" name="room_dropdown" th:value="${entry.roomId}">
                    <option th:each="room : ${rooms}"
                            th:text="${room.id}+' : '+${room.name}"
                            th:value="${room.id}">
                    </option>
                </select>

            </td>
            <td><input name="contract" th:value="${entry.contract}" type="text"/></td>
        </tr>
        -->
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
<div th:insert="~{footer :: copy}"></div>
</body>
</html>